FKSDB\Models\Utils\CSVParser does not follow RFC 4180

CSV je čárkami oddělovaný seznam a poslední řádek může být prázdný. Nic z těch dvou nefunguje. Ostatní nevím.

viz [RFC 4180, section 2: Definition of the CSV Format](https://tools.ietf.org/html/rfc4180#section-2)

Ještě tam je bug, že poslední řádek CSVčka to nenačte pokud není ukončen newlinem